
@model OnJobEntity.JobSeeker.User


@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    <div class="profile_job_content col-lg-12">
        <div class="headline">
            <h3> Change Password</h3>
        </div>
        <div class="profile_job_detail">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="submit-field">
                        <h5>Old Password *</h5>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control disble", placeholder = "Old Password", value = Model.Password } }) 
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="submit-field">
                        <h5>New Password *</h5>
                     
                        @Html.EditorFor(model => model.CPassword, new { htmlAttributes = new { @class = "form-control disble", placeholder = "New Password"} })
                        @Html.ValidationMessageFor(model => model.CPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="col-12">
                    <div class="submit-field">
                        <input class="btn btn-info px-5 btn-md" value="Update" type="submit" name="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
}