@model OnJobEntity.JobSeeker.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@TempData["Message"] != null)
{
    <script type="text/javascript">

     var x = '@TempData["Message"]';
    $(document).ready(function () {


        if ('@TempData["Message"]' == "0")
        {
            toastr.error("Update Faild, Please Try again.");
        } else if ('@TempData["Message"]' == "2") {
            toastr.error("All Field Required !!");
        } else if ('@TempData["Message"]' == "3") {
            toastr.info("Delete Successfull !")
        } else if ('@TempData["Message"]' == "4") {
            toastr.success("Add Successfull !");
        }
        else {

            toastr.success(x);
        }
    });


    </script>


}


<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Change Password
                </h1>
                <p class="text-white link-nav"><a href="#">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href=""> Change Password</a></p>
            </div>
        </div>
    </div>
</section>

<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">

            @Html.Partial("_UserSideBar")


            <div class="col-lg-8 post-list">
                @Html.Partial("~/Views/User/ChnagePassword/_ChangePassword.cshtml")

            </div>
        </div>
    </div>
</section>

