@model OnJobEntity.JobSeeker.User


<div class="profile_job_content col-lg-12 mt-5">
    <div class="headline">
        <h3>Languages <span class="pull-right action-circle add-language"   id="add_lan"><i class="fa fa-plus" data-toggle="collapse" data-target="#user-language"></i></span></h3>
    </div>
    <div class="profile_job_detail">
        <div class="row">
            @foreach (var item in Model.lstlanguage)
            {
                <div class="col-md-12 col-sm-12">
                    <div class="employer-job-list">
                        <p>@item.language_value ( @item.proficiency_value ) </p>
                        <p>
                            <a href="javascript:void(0)" class="edit-language" data-lang_id="@item.id"><i class="fa fa-pencil"></i> </a>&nbsp;
                            <a href="javascript:void(0)" data-lan_id="@item.id" class="btn-delete"  id="lan-delete" data-id="lan-delete"><i class="fa fa-trash"></i> </a>&nbsp;
                        </p>
                    </div>
                </div>
            }
            </div>
        @using (Html.BeginForm("AddLanguage", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- collapse -->
            <div id="user-language" class="collapse">

                <div class="row">
                    <div class="col-md-6">
                        <div class="submit-field">
                            <label>Language</label>

                            @Html.EditorFor(model => model.language.flag, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
                            @Html.EditorFor(model => model.language.id, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
                            @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
                            @Html.DropDownListFor(model => model.language.language, new SelectList(ViewBag.GetLanguage, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.language.language, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="submit-field">
                            <label>Proficiency with this language</label>
                            @Html.DropDownListFor(model => model.language.proficiency, new SelectList(ViewBag.GetProficiency, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.language.proficiency, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="submit-field">
                        <button type="submit" class="btn job_detail_btn">Submit</button>
                        <button type="button" id="lan_close" class="btn job_detail_btn close_all_collapse">Cancel</button>
                    </div>
                </div>

            </div>
        }
    </div>
        <!-- /collapse -->
        <!-- Edit collapse -->
        <div id="user-language-edit" class="collapse"></div>
        <!-- /edit collapse -->

    </div>

