@model OnJobEntity.JobSeeker.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@TempData["Message"] != null)
{
<script type="text/javascript">

     var x = '@TempData["Message"]';
    $(document).ready(function () {


        if ('@TempData["Message"]' == "0")
        {
            toastr.error("Update Faild, Please Try again.");
        } else if ('@TempData["Message"]' == "2") {
            toastr.error("All Field Required !!");
        } else if ('@TempData["Message"]' == "3") {
            toastr.info("Delete Successfull !")
        } else if ('@TempData["Message"]' == "4") {
            toastr.success("Add Successfull !");
        }else if ('@TempData["Message"]' == "8") {
            toastr.error("Old Password Are Worng !");
        } else if ('@TempData["Message"]' == "5") {
            toastr.info("Remove Successfull !")
        }
        else {

            toastr.success(x);
        }
    });


</script>


}


<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Candidate Profile
                </h1>
                <p class="text-white link-nav"><a href="#">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href=""> Candidate Profile</a></p>
            </div>
        </div>
    </div>
</section>

<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">

            @Html.Partial("_UserSideBar")
         

            <div class="col-lg-8 post-list">
                @Html.Partial("_PersonalInformation")

                <!-- resume -->
                <!-- experience -->
                @Html.Partial("_Experience")

                <!-- /experience -->
                <!-- education -->
                @Html.Partial("_Education")
                <!-- /education -->
                <!-- languages -->
                @Html.Partial("_Languages")
                <!-- /languages -->

                @Html.Partial("_Resume")


            </div>
        </div>
    </div>
</section>

<script>
   
</script>
<script>

    $(document).ready(function () {

        if ("@Model.FirstName" != null) {

            [].forEach.call(document.querySelectorAll('.field-validation-error'), function (el) {
                el.style.visibility = 'hidden';
            });
        }


        if("@Model.Category" != null) {
                  // document.getElementById("category").selectedIndex = @Model.Category
                   document.getElementById("Age").selectedIndex = @Model.Age
                   //document.getElementById("state").selectedIndex = @Model.State
         }




        $(function () {
           

            var cat_id = @Model.Category;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxMethod", "User")',
                dataType: "json",
                data: { id: parseInt(cat_id)},
                success: function (response) {

                    $.each(response, function (key, value) {
                        if (value.Selected) {
                            $('#category').append($("<option selected></option>").val(value.Value).html(value.Text));
                        } else {
                            $('#category').append($("<option></option>").val(value.Value).html(value.Text));

                        }

                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });





        $(function () {
            var state_id = @Model.State;

            $.ajax({
                type: "POST",
                url: "/User/AjaxMethodState/",
                data: { id: parseInt(state_id) },
                dataType: "json",
                success: function (response) {
             
                    $.each(response, function (key, value) {
                        if (value.Selected) {
                            $('#state').append($("<option selected></option>").val(value.Value).html(value.Text));
                        } else {
                            $('#state').append($("<option></option>").val(value.Value).html(value.Text));
                        }

                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });




        //dropdownlist selectedchange event
        $("#state").change(function ()
        {
           
            $("#city").empty();
            $.ajax({
                type: 'post',
                url: '/user/ajaxmethodcity',
                datatype: 'json',
                data: { id: $("#state").val() },
                success: function (citys) {
                    $.each(citys, function (i, city) {

                        $("#city").append('<option value="'
                            + city.Value + '">'
                            + city.Text + '</option>');
                    });
                },

            });

        });
    });
</script>
